root {
  font-family: "apercu",sans-serif;
}

.hero {
  margin-top: 5px;
  height: 100vh;
  background: url(https://assets.awwwards.com/awards/media/cache/optimize/sites_of_the_day/2019/10/laguta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-lg {
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.hero-buttons,
.f-left,
.f-right {
  justify-content: right;
}

.hero-buttons div,
.f-right div {
  border-radius: 50px;
}

strong {
  color: #202121;
  font-size: 18px;
  font-weight: 700;
}

/* .hb-left:first-child {
  position: relative;
  left: 5px;
} */

.hb-left:last-child {
  position: relative;
  left: 210px;
}

.card-info a {
  text-decoration: none;
  font-size: 14px;
  color: #202121;
  font-weight: 700;
  display: block;
}

.card-footer {
  font-size: 12px;
}

.card-footer img {
  width: 27px;
  height: 27px;
  border-radius: 50px;
}

.card-footer strong {
  font-size: 14px;
}

.btn {
  font-size: 10px;
}

div.container--fluid.center{
  margin-bottom: 50px;
}

footer, footer strong:not(footer .row:first-child) {
  font-size: 14px;
}

footer .row:first-child {
  font-size: 18px;
}

li.footer-link {
  padding-right: 10px;
}

li.footer-link strong,
.footer-social strong {
  font-size: 14px;
}

li.sociallink {
  font-size: 14px;
  padding: 0 10px;
}
